<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/heads.ejs') %>
        <title>
            <%= titulo %>
        </title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <div id="id_boleto" disable>
            <%= id_boleto %>
        </div>
        </div>
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row row-cols-1 row-cols-md-5 row-cols-lg-3 gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-5"><img class="card-img-top mb-4 mb-md-0" style="width: 400px;" src=<%=imagen %>
                        alt="..." /></div>
                    <div class="col-md-1">

                        <h1 class="display-5 fw-bolder">
                            <%= titulo %>
                        </h1>
                        <p class="lead">
                            <%= descripcion %>
                                </>
                        </p>
                        <div class="fs-5 mb-5">
                            <span>Precio: Bs.<%= precio %> </span>
                            <br>
                            <span id="cantidad">Cantidad Boletos Disponibles: <%= cantidad %></span>
                        </div>

                        <div class="d-flex gap-5">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                                style="max-width: 3rem" />
                            <button id="reservar" class="btn btn-outline-dark flex-shrink-0" type="button" <%
                                if(!usuario) { %> onClick=window.location.href="/login"> <% } %>
                                    <i class="bi-cart-fill me-1"></i>
                                    Reservar
                            </button>
                            <button id="comprar" class="btn btn-outline-dark flex-shrink-0" type="button" <%
                                if(!usuario) { %> onClick=window.location.href="/login"> <% } %>
                                    <i class="bi-cart-fill me-1"></i>
                                    Comprar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Related products</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price-->
                                    $40.00 - $80.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View
                                        options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to
                                        cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to
                                        cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Popular Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $40.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to
                                        cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script>
            $(document).ready(function () {
                $('#reservar').click(function () {
                    var id_boleto = '<%= id_boleto %>';
                    var cantidad_reserva = $('#inputQuantity').val();
                    var cantidad = '<%= cantidad %>';

                    // Crear el objeto de datos a enviar
                    var data = {
                        id_boleto: id_boleto,
                        cantidad_reserva: cantidad_reserva,
                        cantidad: cantidad
                    };

                    // Realizar la petición AJAX
                    $.ajax({
                        url: '/reserva', // Reemplaza con la ruta adecuada en tu servidor
                        type: 'POST',
                        data: data,
                        success: function (response) {
                            // Procesar la respuesta del servidor
                            console.log(response)
                            alert("Reserva realizada con éxito" );
                            $('#cantidad').text("Cantidad Boletos Disponibles: " + response);
                        },
                        error: function (xhr, status, error) {
                            // Manejar errores de la petición
                            console.log(error);
                        }
                    });
                });
            });
        </script>


</body>

</html>